<h1>Des grosses infos sur ton restau préf :</h1>



<ul>
  <li><strong>name</strong> <%= @restaurant.name %></li>
  <li><strong>address</strong> <%= @restaurant.address %></li>
  <li><strong>phone number</strong> <%= @restaurant.phone_number %></li>
</ul>
